# Dependencies
node_modules

# Nuxt / Nitro
.nuxt
.output
dist
.data

# Env (keep .env.example tracked if you use it)
.env
.env.*
!.env.example

# Logs & debug
*.log
npm-debug.log*
pnpm-debug.log*

# OS & editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Testing / coverage
coverage

# Misc
.cache
